*{
    margin: 0;
    padding: 0;
}

body h1{
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
body h2{
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    font-family: "Englebert", cursive;
    font-weight: 400;
    font-style: normal;
}


header{
    background-color: #64113f;
    color: #f7cacd;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    line-height: 40px;
    width: 100%;
}
    #menu li{
            display: inline;
    }
    #menu a:link, a:visited{
        font-size: 20px;
        text-decoration: none;
        color: #f7cacd;
        padding: 6 25px;
        text-transform: uppercase;
    }
    #menu a:hover, a:active{
        background-color: #D2476C;
        color: #64113f;
    }

main{
    background-color: #f7cacd;
    color: #64113f;
    font-size: 20px;
}