*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7cacd;
    color: #64113f;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

h2{
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

header{
    background-color: #64113f;
    font-size: 20px;

}

#menu li{
    display: inline;
}

#menu a:link, a:visited{
    text-decoration: none;
    color: #f7cacd;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

#menu a:hover, a:active{
    background-color: #f7cacd;
    color: #64113f;
}

main{
    padding: 10px;
    font-size: 20px;
}

#lista-presentes {
    margin-left: 40px;
    margin-top: 10px;
    list-style-type: disc;
}

#lista-geral {
    margin-left: 40px;
    margin-top: 10px;
    list-style-type: circle;
}

#diferente{
    font-size: 13px;
}

footer{
    background-color: #64113f;
    color: #f7cacd;
    text-align: center;
    font-size: 13px;
    padding: 5px;
}